<section class="{{tabs.details.cssClass}}" data-tab="{{tabs.details.id}}" data-group="{{tabs.details.group}}">
  <fieldset>
    <legend>{{localize "MYTHCRAFT.Advancement.SHEET.requirements"}}</legend>
    {{formGroup fields.requirements.fields.level value=source.requirements.level name="requirements.level" type="number" classes="slim"}}
    {{#if fields.chooseN}}
    {{formGroup fields.chooseN value=source.chooseN name="chooseN" placeholder=(localize "MYTHCRAFT.Advancement.SHEET.chooseAll")}}
    {{/if}}
  </fieldset>

  {{!-- ITEM GRANT POOL --}}
  {{#if (eq document.type "itemGrant")}}
  <section class="drop-target-area">
    {{#each ctx.itemPool}}
    <div class="form-group" data-pool-index="{{@index}}">
      <label>{{{link.outerHTML}}}</label>
      <div class="form-fields">
        <button type="button" data-action="deletePoolItem" class="icon fa-solid fa-trash"></button>
      </div>
    </div>
    {{/each}}
  </section>
  {{/if}}

  {{#if (eq document.type "skill")}}

  {{formGroup fields.points value=source.points name="source.points"}}
  {{formGroup fields.primary.fields.skills value=source.primary.skills name="source.primary.skills" options=ctx.skillOptions localize=true sort=true}}
  {{formGroup fields.primary.fields.max value=source.primary.max name="source.primary.max"}}
  {{formGroup fields.secondary.fields.skills value=source.secondary.skills name="source.secondary.skills" options=ctx.skillOptions localize=true sort=true}}
  {{formGroup fields.secondary.fields.max value=source.secondary.max name="source.secondary.max"}}

  {{/if}}

</section>
