<p>{{> "systems/mythcraft/templates/actor/partials/tag-display.hbs" tags=(resolveTags system.tags system.tagOptions)}}</p>
<dl>
  {{#unless config.actorSheet}}
  <dt>{{systemFields.apc.label}}</dt>
  <dd>{{system.apc}}</dd>
  {{#if system.spcSpecial}}
  <dt>{{systemFields.spc.label}}</dt>
  <dd><span class="spc">Special SP</span></dd>
  {{else if system.spc}}
  <dt>{{systemFields.spc.label}}</dt>
  <dd><span class="spc">{{system.spc}} SP</span></dd>
  {{/if}}
  {{/unless}}
  <dt>{{systemFields.range.label}}</dt>
  <dd>{{system.rangeLabel}}</dd>
  <dt>{{systemFields.requirements.label}}</dt>
  <dd>{{> "systems/mythcraft/templates/actor/partials/tag-display.hbs" tags=(resolveTags system.requirements system.requirementOptions)}}</dd>
  <dt>{{systemFields.duration.label}}</dt>
  <dd>{{system.durationLabel}}</dd>
  {{#if system.castingTime}}
  <dt>{{systemFields.castingTime.label}}</dt>
  <dd><span class="casting-time">{{system.castingTime}}</span></dd>
  {{/if}}
  {{#if system.recharge}}
  <dt>{{systemFields.recharge.label}}</dt>
  <dd><span class="recharge">{{system.recharge}}</span></dd>
  {{/if}}
</dl>
<div class="description">
  {{{enriched}}}
</div>
