<p><em>{{system.tagList}}</em></p>
<dl>
  {{#unless config.actorSheet}}
  <dt>{{systemFields.apc.label}}</dt>
  <dd>{{system.apc}}</dd>
  {{#if system.spc}}
  <dt>{{systemFields.spc.label}}</dt>
  <dd>{{system.spc}}</dd>
  {{/if}}
  {{/unless}}
  <dt>{{systemFields.range.label}}</dt>
  <dd>{{system.rangeLabel}}</dd>
  <dt>{{systemFields.requirements.label}}</dt>
  <dd>{{system.requirementsList}}</dd>
  <dt>{{systemFields.duration.label}}</dt>
  <dd>{{system.durationLabel}}</dd>
</dl>
<div class="description">
  {{{enriched}}}
</div>
