{{formGroup systemFields.magicSource value=system.magicSource options=system.magicSourceOptions localize=true disabled=isPlay}}
<div class="form-group">
  <label>{{systemFields.tags.label}}</label>
  <div class="form-fields">
    {{#if isPlay}}
    <span class="tags-display">{{join system.tags ", "}}</span>
    {{else}}
    <tag-input name="system.tags" data-suggestions="{{json system.tagOptions}}">
      {{#each system.tags}}
      <input type="hidden" name="system.tags" value="{{this}}">
      {{/each}}
    </tag-input>
    {{/if}}
  </div>
</div>
<div class="form-group">
  {{formGroup systemFields.apc value=system.apc disabled=isPlay}}
  <div class="form-group inline slim">
    <label>{{systemFields.spc.label}}</label>
    <div class="form-fields">
      {{#if system.spcSpecial}}
      <span class="spc-special">Special</span>
      {{else}}
      {{formInput systemFields.spc value=system.spc disabled=isPlay}}
      {{/if}}
      {{formInput systemFields.spcSpecial value=system.spcSpecial disabled=isPlay}}
      <label class="checkbox-label">{{systemFields.spcSpecial.label}}</label>
    </div>
  </div>
</div>
<fieldset {{disabled isPlay}}>
  <legend>{{systemFields.range.label}}</legend>
  {{formGroup systemFields.range.fields.value value=system.range.value}}
  {{formGroup systemFields.range.fields.unit value=system.range.unit}}
</fieldset>
{{formGroup systemFields.requirements value=system.requirements options=system.requirementOptions localize=true disabled=isPlay}}
<fieldset {{disabled isPlay}}>
  <legend>{{systemFields.duration.label}}</legend>
  {{formGroup systemFields.duration.fields.value value=system.duration.value}}
  {{formGroup systemFields.duration.fields.unit value=system.duration.unit}}
</fieldset>
{{formGroup systemFields.castingTime value=system.castingTime disabled=isPlay}}
{{formGroup systemFields.recharge value=system.recharge disabled=isPlay}}
