<div class="form-group">
  <label>{{systemFields.tags.label}}</label>
  <div class="form-fields">
    {{#if isPlay}}
    {{> "systems/mythcraft/templates/actor/partials/tag-display.hbs" tags=(resolveTags system.tags config.talents.tagOptions)}}
    {{else}}
    <tag-input name="system.tags" data-suggestions="{{json config.talents.tagOptions}}">
      {{#each system.tags}}
      <input type="hidden" name="system.tags" value="{{this}}">
      {{/each}}
    </tag-input>
    {{/if}}
  </div>
</div>
{{formGroup systemFields.prerequisites value=system.prerequisites disabled=isPlay}}
{{formGroup systemFields.incompatibilities value=system.incompatibilities disabled=isPlay}}
{{formGroup systemFields.category value=system.category options=config.talents.actionOptions localize=true disabled=isPlay}}
