<div class="form-group">
  <label>{{systemFields.tags.label}}</label>
  <div class="form-fields">
    {{#if isPlay}}
    <span class="tags-display">{{join system.tags ", "}}</span>
    {{else}}
    <tag-input name="system.tags" data-suggestions="{{json config.weapon.tagOptions}}">
      {{#each system.tags}}
      <input type="hidden" name="system.tags" value="{{this}}">
      {{/each}}
    </tag-input>
    {{/if}}
  </div>
</div>
{{formGroup systemFields.quantity value=system.quantity disabled=isPlay}}
{{formGroup systemFields.cost value=system.cost disabled=isPlay}}
{{formGroup systemFields.category value=system.category disabled=isPlay}}
{{formGroup systemFields.attr value=system.attr disabled=isPlay options=config.attributes.options sort=true localize=true}}
{{formGroup systemFields.defenseTarget value=system.defenseTarget disabled=isPlay options=config.defenses.options localize=true}}
{{formGroup systemFields.attackModifier value=system.attackModifier disabled=isPlay}}
{{formGroup systemFields.apcFormula value=system.apcFormula disabled=isPlay}}
<fieldset {{disabled isPlay}}>
  <legend>{{systemFields.damage.label}}</legend>
  {{#each system.damage as |entry idx|}}
  <div class="damage-entry flexrow" data-index="{{idx}}">
    <input type="text" name="system.damage.{{idx}}.formula" value="{{entry.formula}}" placeholder="1d6">
    <select name="system.damage.{{idx}}.type">
      {{selectOptions ../config.damage.options selected=entry.type localize=true sort=true}}
    </select>
    {{#unless ../isPlay}}
    <button type="button" data-action="removeDamage" data-index="{{idx}}" title="Remove">
      <i class="fa-solid fa-minus"></i>
    </button>
    {{/unless}}
  </div>
  {{/each}}
  {{#unless isPlay}}
  <button type="button" data-action="addDamage" class="damage-add">
    <i class="fa-solid fa-plus"></i> {{localize "MYTHCRAFT.Add"}}
  </button>
  {{/unless}}
</fieldset>
<fieldset {{disabled isPlay}}>
  <legend>{{systemFields.range.label}}</legend>
  {{formGroup systemFields.range.fields.type value=system.range.type localize=true sort=true}}
  {{formGroup systemFields.range.fields.value value=system.range.value}}
  {{formGroup systemFields.range.fields.unit value=system.range.unit}}
</fieldset>
