<section class="standard-form">
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.Attribute"}}</label>
    <div class="form-fields">
      <span class="attribute-label">{{attributeLabel}}</span>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.Modifier"}}</label>
    <div class="form-fields">
      <input type="number" name="situationalBonus" value="{{situationalBonus}}">
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.CriticalRange"}}</label>
    <div class="form-fields">
      <span>{{critHit}}+ / {{critFail}}-</span>
    </div>
  </div>
</section>
