<section class="standard-form">
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.AttributeRoll.SituationalBonus.Label"}}</label>
    <div class="form-fields">
      <input type="text" name="situationalBonus" value="{{situationalBonus}}" placeholder="{{localize "MYTHCRAFT.Roll.AttributeRoll.SituationalBonus.Placeholder"}}">
    </div>
    <p class="hint">{{localize "MYTHCRAFT.Roll.AttributeRoll.SituationalBonus.Hint" formula=formula}}</p>
  </div>
  {{#if specialization}}
  <div class="form-group slim">
    <label>{{localize "MYTHCRAFT.Roll.AttributeRoll.Specialization.Label"}}</label>
    <div class="form-fields">
      <select name="specializationMultiplier" data-dtype="Number">
        {{selectOptions specialization.options selected=specializationMultiplier}}
      </select>
    </div>
    <p class="hint">{{localize "MYTHCRAFT.Roll.AttributeRoll.Specialization.Hint" specialization=specialization.value}}</p>
  </div>
  {{/if}}
  {{#if skill}}
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.AttributeRoll.Attribute.Label"}}</label>
    <div class="form-fields">
      <select name="attribute">
        {{selectOptions attributeOptions selected=attribute localize=true}}
      </select>
    </div>
    <p class="hint">{{localize "MYTHCRAFT.Roll.AttributeRoll.Attribute.Hint"}}</p>
  </div>
  {{/if}}
</section>
