{{! Equipment Tab }}
<section class="tab scrollable {{tab.cssClass}}" data-group="primary" data-tab="equipment">
  <div class="item-header flexrow">
    <div class="item-name">{{localize "TYPES.Item.armor"}}</div>
    <div class="item-quantity">{{localize "MYTHCRAFT.Item.equipment.FIELDS.quantity.label"}}</div>
    <div class="item-controls flexrow">
      {{#if @root.editable}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="armor"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.armor")}}
      </button>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each armor}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-controls flexrow">
          <button type="button" class="icon fa-solid fa-ellipsis-vertical"></button>
          <button type="button" data-action="toggleItemEmbed" class="icon fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></button>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="item-header flexrow">
    <div class="item-name">{{localize "TYPES.Item.weapon"}}</div>
    <div class="item-quantity">{{localize "MYTHCRAFT.Item.equipment.FIELDS.quantity.label"}}</div>
    <div class="item-controls flexrow">
      {{#if @root.editable}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="weapon"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.weapon")}}
      </button>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each weapons}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-controls flexrow">
          <button type="button" class="icon fa-solid fa-ellipsis-vertical"></button>
          <button type="button" data-action="toggleItemEmbed" class="icon fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></button>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="item-header flexrow">
    <div class="item-name">{{localize "TYPES.Item.gear"}}</div>
    <div class="item-quantity">{{localize "MYTHCRAFT.Item.equipment.FIELDS.quantity.label"}}</div>
    <div class="item-controls flexrow">
      {{#if @root.editable}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="gear"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.gear")}}
      </button>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each gear}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-controls flexrow">
          <button type="button" class="icon fa-solid fa-ellipsis-vertical"></button>
          <button type="button" data-action="toggleItemEmbed" class="icon fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></button>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
</section>
