{{! Equipment Tab }}
<section class="tab scrollable {{tab.cssClass}}" data-group="primary" data-tab="equipment">
  <div class="item-header flexrow">
    <div class="item-name">{{localize "DOCUMENT.FIELDS.name.label"}}</div>
    <div class="item-quantity">{{localize "MYTHCRAFT.Item.equipment.FIELDS.quantity.label"}}</div>
    <div class="item-controls">
      {{#if @root.editable}}
      <a class="item-create" data-action="createDoc" data-document-class="Item" data-type="armor">+ {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.armor")}}</a>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each armor}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-controls flexrow">
          <a data-action="toggleItemEmbed">
            <i class="fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></i>
          </a>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="item-header flexrow">
    <div class="item-name">{{localize "DOCUMENT.FIELDS.name.label"}}</div>
    <div class="item-quantity">{{localize "MYTHCRAFT.Item.equipment.FIELDS.quantity.label"}}</div>
    <div class="item-controls">
      {{#if @root.editable}}
      <a class="item-create" data-action="createDoc" data-document-class="Item" data-type="weapon">+ {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.weapon")}}</a>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each weapons}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-controls flexrow">
          <a data-action="toggleItemEmbed">
            <i class="fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></i>
          </a>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="item-header flexrow">
    <div class="item-name">{{localize "DOCUMENT.FIELDS.name.label"}}</div>
    <div class="item-quantity">{{localize "MYTHCRAFT.Item.equipment.FIELDS.quantity.label"}}</div>
    <div class="item-controls">
      {{#if @root.editable}}
      <a class="item-create" data-action="createDoc" data-document-class="Item" data-type="gear">+ {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.gear")}}</a>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each gear}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-controls flexrow">
          <a data-action="toggleItemEmbed">
            <i class="fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></i>
          </a>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
</section>
