{{! Features Tab }}
<section class="tab scrollable {{tab.cssClass}}" data-group="primary" data-tab="features">
  {{#each features}}
  </div>
  <div class="item-header flexrow">
    <div class="item-name">{{localize label}}</div>
    <div class="item-uses">{{localize "MYTHCRAFT.Item.feature.FIELDS.uses.label"}}</div>
    <div class="item-controls flexrow">
      {{#if @root.editable}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="feature"
        data-system.category="{{@key}}"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.feature")}}
      </button>
      {{/if}}
    </div>
  </div>
  {{#if (eq @key "action")}}
  <div class="action-text">
    {{#if @root.isPlay}}
    <em>{{@root.system.actions}}</em>
    {{else}}
    {{formInput @root.systemFields.actions value=@root.system.actions placeholder=(localize "MYTHCRAFT.Actor.npc.FIELDS.actions.placeholder" name=@root.document.name)}}
    {{/if}}
  </div>
  {{/if}}
  <ul class="item-list">
    {{#each list}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-uses">
          {{#if item.system.uses.max}}
          <input
            type="number"
            class="item-input inline"
            data-name="system.uses.value"
            {{disabled (not @root.editable)}}
            value="{{item.system.uses.value}}"
          >
          <span>/ {{item.system.uses.max}}</span>
          {{/if}}
        </div>
        <div class="item-controls flexrow">
          <button type="button" class="icon fa-solid fa-ellipsis-vertical"></button>
          <button type="button" data-action="toggleItemEmbed" class="icon fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></button>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  {{/each}}
</section>
