{{! Features Tab }}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="features">

  {{! Passives Section }}
  <div class="item-header flexrow">
    <div class="item-name">{{localize "MYTHCRAFT.Item.feature.category.passive"}}</div>
    <div class="item-uses">{{localize "MYTHCRAFT.Item.feature.FIELDS.uses.label"}}</div>
    <div class="item-controls flexrow">
      {{#unless @root.isPlay}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="feature"
        data-system.category="passive"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.feature")}}
      </button>
      {{/unless}}
    </div>
  </div>
  {{> "systems/mythcraft/templates/actor/partials/attack-card-list.hbs" items=passives cssClass="passive" rollAction="rollFeature"}}

  {{! Tiered Actions Section }}
  {{#if @root.isPlay}}
  {{{@root.enrichedActions}}}
  {{else}}
  {{formInput
  @root.systemFields.actions
  enriched=@root.enrichedActions
  value=@root.system.actions
  toggled="true"
  }}
  {{/if}}
  <div class="item-header flexrow">
    <div class="item-name">{{localize "MYTHCRAFT.Item.feature.category.action"}}</div>
    <div class="item-uses">{{localize "MYTHCRAFT.Item.feature.FIELDS.uses.label"}}</div>
    <div class="item-tier">{{localize "MYTHCRAFT.Item.feature.FIELDS.tier.label"}}</div>
    <div class="item-controls flexrow">
      {{#unless @root.isPlay}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="feature"
        data-system.category="action"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.feature")}}
      </button>
      {{/unless}}
    </div>
  </div>
  {{#each tieredActions}}
  <h4 class="tier-header">Tier {{@key}}</h4>
  {{> "systems/mythcraft/templates/actor/partials/attack-card-list.hbs" items=this cssClass="action" rollAction="rollFeature"}}
  {{/each}}

  {{! Reactions Section }}
  <div class="item-header flexrow">
    <div class="item-name">{{localize "MYTHCRAFT.SHEET.Reactions"}}</div>
    <div class="item-uses">{{localize "MYTHCRAFT.Item.feature.FIELDS.uses.label"}}</div>
    <div class="item-controls flexrow">
      {{#unless @root.isPlay}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="feature"
        data-system.category="reaction"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.feature")}}
      </button>
      {{/unless}}
    </div>
  </div>
  {{> "systems/mythcraft/templates/actor/partials/attack-card-list.hbs" items=reactions cssClass="reaction" rollAction="rollFeature"}}

</section>
