<header class="sheet-header img-name flexrow">
  <img src="{{source.img}}" data-action="{{ifThen isPlay "showPortraitArtwork" "editImage"}}" data-edit="img" alt="{{localize "DOCUMENT.FIELDS.img.label"}}">
  <div class="header-center">
    {{formInput
    fields.name
    value=source.name
    placeholder=(localize "DOCUMENT.FIELDS.name.label")
    aria=(object label=(localize "DOCUMENT.FIELDS.name.label"))
    disabled=isPlay}}
    {{#if isPlay}}
    <div>{{tagList}}</div>
    {{else}}
    {{formGroup systemFields.tags options=tagOptions value=systemSource.tags disabled=isPlay localize=true}}
    {{/if}}
  </div>
  <div class="header-right standard-form">
    {{#if (eq document.type "character")}}
    {{formGroup systemFields.ap.fields.value value=system.ap.value classes="slim"}}
    {{else if (eq document.type "npc")}}
    <div class="actor-source">
      {{document.system.source.label}}
    </div>
    {{/if}}
    {{formGroup systemFields.size options=sizeOptions value=(ifThen isPlay system.size systemSource.size) disabled=isPlay localize=true}}
  </div>
</header>
