{{! Spells Tab }}
<section class="tab scrollable {{tab.cssClass}}" data-group="primary" data-tab="spells">
  <div class="standard-form attributes">
    <div class="form-group slim">
      <label>{{systemFields.sp.label}}</label>
      <div class="form-fields">
        {{formInput systemFields.sp.fields.value value=system.sp.value disabled=(not editable)}}
        {{formInput systemFields.sp.fields.max value=system.sp.max disabled=isPlay}}
      </div>
    </div>
    {{formGroup systemFields.sp.fields.attribute value=system.sp.attribute classes="slim" options=config.attributes.options localize=true disabled=isPlay}}
  </div>
  <div class="item-header flexrow">
    <div class="item-name">{{localize "DOCUMENT.FIELDS.name.label"}}</div>
    <div class="item-magicSource">{{localize "MYTHCRAFT.Item.spell.FIELDS.magicSource.label"}}</div>
    <div class="item-apc" data-tooltip="MYTHCRAFT.Item.spell.FIELDS.apc.hint">{{localize "MYTHCRAFT.Item.spell.FIELDS.apc.label"}}</div>
    <div class="item-spc" data-tooltip="MYTHCRAFT.Item.spell.FIELDS.spc.hint">{{localize "MYTHCRAFT.Item.spell.FIELDS.spc.label"}}</div>
    <div class="item-controls flexrow">
      {{#if @root.editable}}
      <button
        type="button"
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="spell"
      >
        <i class="fa-solid fa-plus"></i>
        {{localize "DOCUMENT.Create" type=(localize "TYPES.Item.spell")}}
      </button>
      {{/if}}
    </div>
  </div>
  <ul class="item-list">
    {{#each spells}}
    <li class="item draggable" data-item-id="{{item.id}}" data-document-class="Item">
      <div class="item-row flexrow">
        <img src="{{item.img}}" alt="{{item.name}}">
        <div class="item-name">{{item.name}}</div>
        <div class="item-magicSource">{{localize magicSourceLabel}}</div>
        <div class="item-apc">{{item.system.apc}}</div>
        <div class="item-spc">{{item.system.spc}}</div>
        <div class="item-controls flexrow">
          <button type="button" class="icon fa-solid fa-ellipsis-vertical"></button>
          <button type="button" data-action="toggleItemEmbed" class="icon fa-solid fa-angle-{{ifThen expanded "down" "right"}}"></button>
        </div>
      </div>
      <div class="item-embed">
        {{#if expanded}}{{{embed.outerHTML}}}{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
</section>
