<section class="tab scrollable {{tab.cssClass}} standard-form" data-group="primary" data-tab="stats">
  <div class="flexrow">
    <fieldset class="hit-points">
      <legend>{{systemFields.hp.label}}</legend>
      {{formGroup systemFields.hp.fields.value value=systemSource.hp.value classes="stacked slim"}}
      {{formGroup systemFields.hp.fields.shield value=systemSource.hp.shield classes="stacked slim"}}
      {{formGroup systemFields.hp.fields.max value=(ifThen isPlay system.hp.max systemSource.hp.max) disabled=isPlay classes="stacked slim"}}
    </fieldset>
    <fieldset class="death-points">
      <legend>{{systemFields.death.label}}</legend>
      {{formGroup systemFields.death.fields.value value=systemSource.death.value classes="stacked slim"}}
      {{formGroup systemFields.death.fields.max value=(ifThen isPlay system.death.value systemSource.death.value) disabled=isPlay classes="stacked slim"}}
    </fieldset>

  </div>
  <div class="attributes">
    {{#each attributeInfo as |group|}}
    <div class="attribute-group flexrow">
      <span class="attribute-group-label">{{localize group.label}}</span>
      {{#each group.list}}
      <fieldset class="attribute" data-attribute="{{field.name}}">
        <legend>
          {{field.label}}
          {{#unless @root.isPlay}}
          <a class="icon fa-solid fa-gear" type="button" data-action="editAttribute"></a>
          {{/unless}}
        </legend>
        <a class="attribute-label" data-action="rollAttribute">{{numberFormat value sign=true}}</a>
        {{#each skills}}
        <a class="skill-label" data-skill="{{skillId}}" data-action="rollSkill">{{localize label}} {{numberFormat bonus sign=true}}</a>
        {{/each}}
      </fieldset>
      {{/each}}
    </div>
    {{/each}}
  </div>
  <fieldset class="defenses">
    <legend>{{systemFields.defenses.label}}</legend>
    {{#each defenseInfo as |group|}}
    <div class="defense-group">
      <div>{{localize group.label}}</div>
      {{#each group.list}}
      {{formGroup field value=value type="number" hint="" dataset=(object tooltip=field.hint) disabled=@root.isPlay}}
      {{/each}}
    </div>
    {{/each}}
  </fieldset>
  <fieldset>
    <legend>{{systemFields.movement.label}}</legend>
    {{formGroup systemFields.movement.fields.walk value=(ifThen isPlay system.movement.walk systemSource.movement.walk) disabled=isPlay}}
    {{formGroup systemFields.movement.fields.climb value=(ifThen isPlay system.movement.climb systemSource.movement.climb) disabled=isPlay}}
    {{formGroup systemFields.movement.fields.swim value=(ifThen isPlay system.movement.swim systemSource.movement.swim) disabled=isPlay}}
    {{formGroup systemFields.movement.fields.fly value=(ifThen isPlay system.movement.fly systemSource.movement.fly) disabled=isPlay}}
    {{formGroup systemFields.movement.fields.burrow value=(ifThen isPlay system.movement.burrow systemSource.movement.burrow) disabled=isPlay}}
  </fieldset>
  <fieldset>
    <legend>{{systemFields.senses.label}}</legend>
  </fieldset>
  <fieldset>
    <legend>{{systemFields.skills.label}}</legend>
  </fieldset>
  <fieldset>
    <legend>{{systemFields.conditions.label}}</legend>
    {{formGroup systemFields.conditions.fields.absorb value=(ifThen isPlay system.conditions.absorb systemSource.conditions.absorb) disabled=isPlay}}
    {{formGroup systemFields.conditions.fields.affinity value=system.conditions.affinity options=damageOptions disabled=isPlay}}
    {{formGroup systemFields.conditions.fields.bleeding value=(ifThen isPlay system.conditions.bleeding systemSource.conditions.bleeding) disabled=isPlay}}
    {{formGroup systemFields.conditions.fields.burning value=(ifThen isPlay system.conditions.burning systemSource.conditions.burning) disabled=isPlay}}
  </fieldset>
  <fieldset>
    <legend>{{systemFields.damage.label}}</legend>
  </fieldset>
</section>
