<section class="tab scrollable {{tab.cssClass}} standard-form" data-group="primary" data-tab="stats">
  <div class="core-stats flexrow">
    <fieldset class="hit-points">
      <legend>{{systemFields.hp.label}}</legend>
      {{formGroup systemFields.hp.fields.value value=systemSource.hp.value classes="stacked slim"}}
      {{formGroup systemFields.hp.fields.shield value=systemSource.hp.shield classes="stacked slim"}}
      {{formGroup systemFields.hp.fields.max value=(ifThen isPlay system.hp.max systemSource.hp.max) disabled=isPlay classes="stacked slim"}}
    </fieldset>
    {{formGroup systemFields.defenses.fields.ar value=system.defenses.ar hint="" classes="stacked slim" disabled=isPlay}}
    <fieldset class="death-points">
      <legend>{{systemFields.death.label}}</legend>
      {{formGroup systemFields.death.fields.value value=systemSource.death.value classes="stacked slim"}}
      {{formGroup systemFields.death.fields.max value=(ifThen isPlay system.death.value systemSource.death.value) disabled=isPlay classes="stacked slim"}}
    </fieldset>
  </div>
  <div class="flexrow exploration">
    <fieldset class="movement">
      <legend>{{systemFields.movement.label}}</legend>
      {{#if isPlay}}
      {{movementInfo}}
      {{else}}
      {{formGroup systemFields.movement.fields.walk value=systemSource.movement.walk}}
      {{formGroup systemFields.movement.fields.climb value=systemSource.movement.climb}}
      {{formGroup systemFields.movement.fields.swim value=systemSource.movement.swim}}
      {{formGroup systemFields.movement.fields.fly value=systemSource.movement.fly}}
      {{formGroup systemFields.movement.fields.burrow value=systemSource.movement.burrow}}
      {{/if}}
    </fieldset>
    <fieldset class="senses">
      <legend>{{systemFields.senses.label}}</legend>
      {{#if isPlay}}
      {{senseInfo.description}}
      {{else}}
      <div class="form-group">
        <label>{{localize "MYTHCRAFT.SHEET.AddSense"}}</label>
        <div class="form-fields">
          <select data-name="add">
            {{selectOptions senseInfo.options localize="true"}}
          </select>
          <button type="button" class="icon fa-solid fa-plus" data-action="addSense"></button>
        </div>
      </div>
      {{#each senseInfo.list}}
      <div class="form-group inline slim">
        <label>{{label}}</label>
        <div class="form-fields">
          {{formInput field value=value name=name}}
          <button type="button" class="icon fa-solid fa-minus" data-action="removeSense" data-sense="{{key}}"></button>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </fieldset>
  </div>
  <div class="attributes">
    {{#each attributeInfo as |group|}}
    <div class="attribute-group flexrow">
      <span class="attribute-group-label">{{localize group.label}}</span>
      {{#each group.list}}
      <fieldset class="attribute" data-attribute="{{field.name}}">
        <legend>
          {{field.label}}
          {{#if @root.isPlay}}
          {{#if check}}
          <a data-action="rollAttribute">
            <i class="fa-solid fa-dice-d20"></i>
            {{numberFormat value sign=true}}
          </a>
          {{else}}
          {{value}}
          {{/if}}
          {{else}}
          {{value}}
          <a class="icon fa-solid fa-gear" data-action="editAttribute"></a>
          {{/if}}
        </legend>
        <dl>
          {{#if defense}}
          <dt>{{defense.label}}</dt>
          <dd>{{defense.value}}</dd>
          {{/if}}
          {{#each skills}}
          <dt>{{localize label}}</dt>
          <dd>
            <a data-skill="{{skillId}}" data-action="rollSkill">
              <i class="fa-solid fa-dice-d20"></i>
              {{numberFormat bonus sign=true}}
            </a>
          </dd>
          {{/each}}
        </dl>
      </fieldset>
      {{/each}}
    </div>
    {{/each}}
  </div>
  <fieldset class="conditions">
    <legend>{{systemFields.conditions.label}}</legend>
    {{formGroup systemFields.conditions.fields.absorb value=(ifThen isPlay system.conditions.absorb systemSource.conditions.absorb) disabled=isPlay}}
    {{formGroup systemFields.conditions.fields.affinity value=system.conditions.affinity options=damageInfo.options disabled=isPlay}}
    {{formGroup systemFields.conditions.fields.bleeding value=(ifThen isPlay system.conditions.bleeding systemSource.conditions.bleeding) disabled=isPlay}}
    {{formGroup systemFields.conditions.fields.burning value=(ifThen isPlay system.conditions.burning systemSource.conditions.burning) disabled=isPlay}}
  </fieldset>
  <fieldset class="damage-modification">
    <legend>{{systemFields.damage.label}}</legend>
    {{#if isPlay}}
    {{else}}
    <div class="form-group slim">
      <label>{{localize "MYTHCRAFT.SHEET.AddDamage"}}</label>
      <div class="form-fields">
        <select data-name="add">
          {{selectOptions damageInfo.options localize="true"}}
        </select>
        <button type="button" class="icon fa-solid fa-plus" data-action="addDamage"></button>
      </div>
    </div>
    {{#each damageInfo.list}}
    <div class="form-group">
      <label>{{label}}</label>
      {{formGroup fields.resist value=entry.resist name=(concat name "resist") classes="stacked"}}
      {{formGroup fields.vulnerable value=entry.vulnerable name=(concat name "vulnerable") classes="stacked"}}
      {{formGroup fields.immune value=entry.immune name=(concat name "immune") classes="stacked"}}
      {{formGroup fields.reduction value=entry.reduction name=(concat name "reduction") classes="stacked"}}
      {{formGroup fields.threshold value=entry.threshold name=(concat name "threshold") classes="stacked"}}
    </div>
    {{/each}}
    {{/if}}
  </fieldset>
</section>
