<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="advancements" data-subtype="{{document.type}}" data-pseudo-document-name="Advancement">
  <div class="section-header">
    <button type="button" data-action="createPseudoDocument" {{disabled (not @root.editable)}}>
      <i class="{{advancementIcon}}"></i>
      {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.Advancement")}}
    </button>
  </div>
  {{log this}}
  {{#each advancements}}
  <fieldset class="advancement">
    <legend>{{section}}</legend>
    {{#each documents}}
    <div class="form-group" data-pseudo-id="{{id}}">
      <img class="advancement-img" src="{{img}}" alt="{{name}}">
      <label>{{name}}</label>
      <div class="form-fields">
        <button
          type="button"
          {{!-- <!-- eslint-disable-next-line @html-eslint/quotes --> --}}
          data-tooltip-text="{{localize "DOCUMENT.Update" type=(localize "DOCUMENT.Advancement")}}"
          data-action="renderPseudoDocumentSheet"
          class="icon fa-fw fa-solid fa-cog"
          {{disabled (not @root.editable)}}
          >
        </button>
        <button
          type="button"
          {{!-- <!-- eslint-disable-next-line @html-eslint/quotes --> --}}
          data-tooltip-text="{{localize "DOCUMENT.Delete" type=(localize "DOCUMENT.Advancement")}}"
          data-action="deletePseudoDocument"
          class="icon fa-solid fa-fw fa-trash"
          {{disabled @root.isPlay}}
          >
        </button>
      </div>
      {{#if enrichedDescription}}
      <div class="hint">
        {{{enrichedDescription}}}
      </div>
      {{/if}}
    </div>
    {{/each}}
  </fieldset>
  {{/each}}
</section>
