<section class="tab scrollable {{tab.cssClass}} standard-form" data-group="primary" data-tab="description">
  {{log this}}
  {{#if editable}}
  {{formInput systemFields.description.fields.value enriched=enrichedDescription value=system.description.value toggled="true"}}
  {{#if user.isGM}}
  <hr>
  {{formGroup systemFields.description.fields.gm enriched=enrichedGMNotes value=system.description.gm toggled="true"}}
  {{/if}}
  {{else}}
  {{{enrichedDescription}}}
  <hr>
  {{{enrichedGMNotes}}}
  {{/if}}
</section>
